
<div class="wrapper" >
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" >
    <h3 class="my-0 mr-md-auto" style="color:gray">Employee Management System </h3>
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/login">Sign In</a>
    <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/signup">Sign Up</a>
    </nav>
</div>
</div>
<router-outlet></router-outlet>
